body {
  height: 100vh;
  background: #c7ecee;
  margin: 0 auto;
  padding-top: 100px;
}

.wrap {
  width: 300px;
  margin: auto;
}

#input {
  width: 70%;
}

#btn {
  width: 25%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#result {
  margin-bottom: 50px;
}

.btn {
  background: red;
  border: none;
  color: #fff;
  margin-left: 15px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.li {
  padding: 4px 8px;
  background: #eddfff;
  border: 1px solid tomato;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  width: 100%;
  text-transform: capitalize;
}

.li-active {
  color: #555;
  text-decoration: line-through;
  background: #30336b;
}

.li-active .btn {
  color: #555;
  text-decoration: line-through;
  background: #30336b;
}

.para {
  font-size: 30px;
  color: violet;
}