body {
  height: 100vh;
  background: #dfe6e9;
  margin: 0 auto;
  padding-top: 100px;
}

.wrap {
  width: 300px;
  margin: auto;
}

#input {
  width: 70%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #b2bec3;
}

#input:focus {
  outline: none;
}

#btn {
  width: 25%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#result {
  margin-bottom: 50px;
}

.btn {
  background: tomato;
  /* border: none; */
  color: #fff;
  margin-left: 15px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.li {
  padding: 4px 8px;
  background: transparent;
  border: 1px solid tomato;
  font-size: 25px;
  border-radius: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
  width: 100%;
  text-transform: capitalize;
}

.li-active {
  background: lightgreen;
}

.li-active .btn {
  color: #555;
}

.total, .active {
  font-size: 30px;
}